@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$hoofdkleur: #2859BC;
$tweedekleurdonker: #48592D;
$tweedekleur: #81D742;
$hoofdkleurlicht: #4F82FF;
$contrast: #FF652A;
$achtergrond: #cccccc;

$mijnFont: Open Sans, sans-serif;
